services:
  wordpress:
    build:
      context: .
    ports:
      - 8080:80
    depends_on:
      - db
    volumes:
      - /var/www/html
      - ./begateway-payment:/var/www/html/wp-content/plugins/begateway-payment
    restart: always
    networks:
      - default
    environment:
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: root
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DEBUG: 1

  db:
    image: mariadb:12
    restart: always
    networks:
      - default
    volumes:
      - /var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
